*/20 * * * * . $HOME/.profile; cd $SCRIPTSDIR; . $SCRIPTSDIR/env.sh; $TONAUTO/autoreturnstake.clj -c ${NET_TON_DEV_SRC_TOP_DIR}/configs/tonlabs-cli.conf.json --abi ${KEYS_DIR}/SafeMultisigWallet.abi.json --sign ${KEYS_DIR}/msig.keys.json -f $TONAUTO/stake.edn -- <wallet address> >> $HOME/validator.log 2>&1
*/20 * * * * sleep 15; . $HOME/.profile; cd $SCRIPTSDIR; . $SCRIPTSDIR/env.sh; $TONAUTO/autostake.clj -c ${NET_TON_DEV_SRC_TOP_DIR}/configs/tonlabs-cli.conf.json --abi ${KEYS_DIR}/SafeMultisigWallet.abi.json -f $TONAUTO/stake.edn -- <wallet address> >> $HOME/validator.log 2>&1
*/20 * * * * sleep 30; . $HOME/.profile; cd $SCRIPTSDIR; . $SCRIPTSDIR/env.sh; $TONAUTO/autosign.clj -m 1 -M 5 -c ${NET_TON_DEV_SRC_TOP_DIR}/configs/tonlabs-cli.conf.json --abi ${KEYS_DIR}/SafeMultisigWallet.abi.json -- <wallet address> $KEYS_DIR/msig.keys.json $KEYS_DIR/msig.keys.2.json >> $HOME/validator.log 2>&1
